<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1 class="text-3xl font-bold text-center my-3">
      <%= htmlWebpackPlugin.options.title %>
    </h1>
    
    <quantity-counter value="1"></quantity-counter>
    <quantity-counter value="1"></quantity-counter>
    <quantity-counter value="1"></quantity-counter>
    <quantity-counter value="1"></quantity-counter>
    <quantity-counter value="1"></quantity-counter>
  </body>
</html>
